/*** GOOGLE FONT ***/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #2596be;
    --color-danger: #fa8484;
    --color-success: #84fa82;
    --color-white: white;
    --color-dark: #363949;
    --color-info-dark: #7d8da1;
    --color-background: #f5f5ff;
    --color-primary-variant: #d5f2f0;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-primary);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}


a{
    color: var(--color-primary);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.display-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-cap{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

aside{
    height: 100vh;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 2rem;
    height: 2rem;
}

aside .close{
    display: none;
}

/*** SIDE BAR ***/
aside .sidebar{
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-primary);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 4rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-primary-variant);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 6px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

/* ====================== MAIN ============= */
main{
    margin-top: 1.4rem;
}

main .date{
    display: inline-block;
    background: var(--color-primary-variant);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type='date']{
    background: transparent;
    color: var(--color-dark);
}

main .logs img{
    position: relative;
    height: 5.2rem;
    width: 5.2rem;
}

main .insights{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

main .insights .logs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

main .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
}

main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
}

main .insights h1{
    margin-top: .5rem;
    text-align: center;
}

main .insights small{
    display: block;
    text-align: center;
}

/* ====================== CHART ============= */
main .monthly-logs{
    margin-top: 2rem;
}

main .monthly-logs h2{
    margin-bottom: 0.8rem;
}

main .monthly-logs .chart{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

/*main .chart{
    height: 50%;
}*/

/* ====================== ESTABLISHMENT ============= */
.establishment_columns{
    margin-top: 1.4rem;
}

.establishment_columns .establishments{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.establishment_columns .tab img{
    display: block;
    margin: 2rem auto 1rem auto;
    width: 8rem;
}

.establishments .tab{
    height: 18vh;
}

.establishment_columns .establishments a{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
}

.establishment_columns .establishments > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
}

.establishment_columns .establishments h3{
    margin-top: 1.2rem;
    text-align: center;
}

/* ====================== REPORT ============= */
.report_layout{
    margin-top: 1.4rem;
}

.report_table{
    margin-top: 2rem;
}

.general_report h2{
    margin-bottom: 0.8rem;
}

.general_report .chart{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

/* ====================== USERS ============= */


/* ====================== ADMIN PROFILE ============= */
.account_information{
    margin-top: 1.4rem;
}

.account_information .account_layout{
    display: block;
}

.account_information .tab span{
    display: block;
    margin: 2rem auto 1rem auto;
    width: 5rem;
    font-size: 5rem;
}

.account_layout .tab{
    height: 18vh;
}

.account_information .account_layout a{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
}

.account_information .account_layout > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
}

.account_information .account_layout_layout h3{
    margin-top: 1.2rem;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/* ====================== REPORT and USERS ============= */
.head{
    font-size: 1.4rem;
}

.body{
    font-size: 1rem;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
    font-size: 1rem;

  }

td{
    text-align: center;
}

.table{
    background-color: var(--color-white);
}